<!-- Footer -->
<footer data-aos="fade-up" data-aos-duration="900" class="page-footer font-small unique-color-dark">

  <div style="background-color: #084e8f;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h5 class="mb-0">Connect with me on </h5>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">            
      
          <!-- Linkedin -->
          <a class="icons" href="https://www.linkedin.com/in/nitish-mishra-8a55bb151/">
            <i class="fa fa-linkedin"></i>
          </a>
          <!-- Twitter-->
          <a class="icons" href="https://twitter.com/NitishM82705059">
            <i class="fa fa-twitter"></i>
          </a>
          <!--Github-->
          <a class="icons" href="https://github.com/Nitish09mishra">
            <i class="fa fa-github"></i>
          </a>
          <!-- Gmail -->
          <a class="icons" href="mailto:mishranitish239@gmail.com">
            <i class="fa fa-envelope"></i>
          </a>
          <!-- Mobile -->
          <a class="icons" href="tel://8847098317">
             <i class="fa fa-phone"> 
               <small style="font-size: 18px;">8847098317<small>
             </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Who am i</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="background-color: #fff; width: 60px;">
        <p>
          I'm Nitish Mishra, persuing my B.tech from University Institute of Engineering and Technology, Panjab University, Chandigarh.
          I prefer to keep learning, continue challenging myself, and do interesting things that matter. I’m a fast learner, able to pick up new skills and juggle different projects and roles with relative ease.
        </p>

      </div>
      <!-- Grid column -->        

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style=" background-color: #fff; width: 60px;">
        <p>
          <a href="/">Home</a>
        </p>
        <p>
          <a href="/about">About</a>
        </p>
        <p>
          <a href="https://nitish09mishra.github.io/Web-potfolio/">My Potfolio</a>
        </p>
        <p>
          <a href="https://drive.google.com/file/d/1JMtDPSRiFPOmN55h6SkeRTktmFkavz41/view">My Resume</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact me</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="background-color: #fff; width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> BH-8, UIET, PU, Chandigarh, 160014</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> mishranitish239@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i>  88 470 983 17</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© <span class="year"></span> Nitish mishra, All rights reserved.<br>
    source photos used in card: google
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->




<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<!-- custom js -->
<script src="js/app.js" charset="utf-8" ></script>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
