<!--Navbar-->
<nav class="mynav navbar navbar-expand-lg">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"><img src=""> <b>COVID</b> updates</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation" style="outline: none;">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa fa-bars" style="font-size: 1.6rem; color: white; background-color: hsla(180, 3%, 7%, 0.4); padding: 10px 13px; border-radius: 5px;"></i>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link ml-2 myactive" href="/">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-2 " href="/world">World
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-2" href="/helplines">Helplines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-2" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ml-2" href="/contact">Contact Us</a>
          </li>
      </ul>
      <!-- Links -->
  </nav>
  <!--/.Navbar-->