<%- include("partials/header") -%>
    <title>Home</title>
    </head>
<body>

<%- include("partials/navbar") -%>


<div class="container abt_us">
    <h1 class="heading"><center>Made with ❤ by Nitish mishra</center></h1><hr class=" mb-5" id="base_line">
    <div class="cards row mb-5">
        <div class="col-lg-12 abt_columns">
            <div class="card  abt_card mb-3" id="active" style="background: linear-gradient(314deg, #197996d2 0%, #02293fd2 74%);">
                <div class="card-body">
                    <img src='/img/nitish.jpg' style="width: 110px; border-radius: 50%; height: 110px; margin: 0% auto 5%;">
                    <p><b>Nitish kumar</b></p>
                    <small><b style="font-weight: 500;">Hi, I am currently persuing my BE(ECE) from <a href="http://uiet.puchd.ac.in/" style="color: rgb(247, 222, 176);">Panjab University, Chandigarh.</a><br>
                        I am well familier with web development and also interested in programming with C++ and software development.</b> 
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>




<%- include("partials/footer") -%>
