<%- include("partials/header") -%>
    <title>Home</title>
    </head>
<body>

<%- include("partials/navbar") -%>


<div class="container abt_us">
    <h1 class="heading"><center>Made with ❤ by Nitish mishra</center></h1><hr class=" mb-5" id="base_line">
    <div class="cards row mb-5">
        <div class="col-lg-12 abt_columns">
            <div class="card  abt_card mb-3" id="active" style="background: linear-gradient(314deg, #197996d2 0%, #02293fd2 74%);">
                <div class="card-body">
                    <img src='/img/aa.jpg' style="width: 110px; border-radius: 50%; height: 110px; margin: 0% auto 5%;">
                    <p><b>Nitish kumar</b></p>
                    <small>Lorem ipsum dolor sit, amet amet consectetur adipisicing elit. consectetur adipisicing elit. Neque, fugiat?amet consectetur adipisicing elit.</small>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4 abt_columns">
            <div class="card  abt_card mb-3" id="recovered" style="background: linear-gradient(314deg, #977f14d2 0%, #3f3402d2 74%);">
                <div class="card-body">
                    <img src='/img/aa.jpg' style="width: 110px; border-radius: 50%; height: 110px; margin: 0% auto 5%;">
                    <p><b>Nitish Mishra</b></p>
                    <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, fugiat?Lorem ipsum dolor sit, amet consectetur adipisicing elit.amet consectetur adipisicing elit. Neque, fugiat?</small>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-6 abt_columns">
            <div class="card  abt_card mb-3" id="deaths" style="background: linear-gradient(314deg, #7f9619d2 0%, #354002d2 74%);">
                <div class="card-body">
                    <img src='/img/aa.jpg' style="width: 110px; border-radius: 50%; height: 110px; margin: 0% auto 5%;">
                    <p><b>Palak goel</b></p>
                    <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, fugiat?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, fugiat?</small>
                </div>
            </div>
        </div> -->
    </div>
</div>




<%- include("partials/footer") -%>