<%- include("partials/header") -%>
    <title>Home</title>
    </head>
<body>

<%- include("partials/navbar") -%>

<h1 style="color: coral; font-size: 80px; margin: 10% auto; text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 0%;">Page Under Construction :(<br><span style="font-size: 20px; line-height: 150px; color: rgb(163, 140, 37);">We are always there to help you :)</span></h1>

<%- include("partials/footer") -%>