<%- include("partials/header") -%>
    <title>Home</title>
    </head>
<body>

<%- include("partials/navbar") -%>

<div class="alert" style="width: 50%; margin: 7% auto; padding: 5%; text-align: center; background-color: rgba(140, 198, 245, 0.9); color: #04396b;" role="alert">
    <h2><span style="font-size: 2.8rem;">Sorry :(</span> &nbsp; &nbsp; &nbsp; <br><br>Page you requested is not available here</h2><br>
    <a class="btn bg-primary mt-5 text-light" style="margin: 0;" href="/">OK</a>
</div>  











<%- include("partials/footer") -%>